<div class="main-page">
	<%= render 'globalsearch' %>	
	<%= render 'searchform' %>	
	<%= render 'results' %>	
</div>
<script type="text/javascript">
	$('.search-button').click();
</script>	

