<div class="round-box search-box">
	<%= search_form_for @q, :url => admin_coupon_deals_path, :remote => true, :html => {:method => :get, :class => "round-box search-box"} do |f| %>
		<%= f.text_field :description_cont, :title => "Поиск по описанию" %>		
		<%= f.submit " ", :class => "search-button" %>	
	<% end %>
</div>