<div class="round-box">
	<div class="round-sub-box">
		<div class="expanded _expandedBox">
			<h2>Фотогалерея</h2>
			<div class="_expanded">
				<div class="photogallery">
					<!-- Start Advanced Gallery Html Containers -->
					<div id="thumbs" class="navigation">
						<ul class="thumbs noscript">
												
							<% unless @sauna.sauna_photos.empty? %>														
								<%= render @sauna.sauna_photos  %>														
							<% end %>	
												
						</ul>
					</div>
					<div id="gallery">
						<div id="controls" class="controls"></div>
						<div class="slideshow-container">
							<div id="loading" class="loader"></div>
							<div id="slideshow" class="slideshow"></div>
						</div>
						<div id="caption" class="caption-container"></div>
					</div>
					<div class="clearing"></div>
					<!-- end gallarific --->
				</div>
			</div>
			<div class="_closed closed-box" style="display: none"></div>
			<div class="clearing"></div>
		</div>
	</div>
</div>