<div class="detail-page">
	<div class="round-box">
		<div class="round-sub-box">		
			<div class="_expanded">
				<%= form_for @sauna, :url => admin_saunas_path, :html => { :multipart => true, :class => "comment-form" } do |f| %>					
					<%= render 'form', :f => f %>
				<% end %>
			</div>
			<div class="_closed"></div>
			<div class="clearing"></div>				
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#sauna_address_district_id').chainedTo('#sauna_address_city_id');		
</script>