<li class="row" id="comment-<%= sauna_comment.id %>"> 
	<a href="#">
		<div class="name">
			<span class="s-name"><%= sauna_comment.user_name %></span>
			<div class="address">
				<%= truncate("#{sauna_comment.description}", :length => 50) %>				
			</div>
		</div>
		<div class="actions">		
			<%= link_to delete_image, admin_sauna_comment_path(sauna_comment), :method => :delete, :remote => true, :confirm => t(:confirm_delete_sauna_comment) %>  
		</div>
	</a>	       	 		
</li>


