<div class="main-page">		
	<div style="padding-top: 15px;">			
		<ul class="result-list">	
			<li class="head">
				<div class="name"><%= t :comment %></div>
				<div class="actions-label"><%= t :actions %></div>
			</li>			
			<% if !@sauna_comments.empty? %>
				<%  @sauna_comments.each do |sauna_comments| %>				
					<%= render sauna_comments %>
				<% end %>
			<% else %>
				<%= render 'shared/empty_row' %>
			<% end %>						
		</ul>			
	</div>		
</div>

