<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>   
    <p>
		Данные о Вас в нашей системе были успешно изменены. Ваши новые данные:<br/>
		логин: <%= @user.name %><br/>
		пароль: <%= @user.password %><br/>
    </p>
    <p>
      Для входа на сайт перейдите по ссылке: http://go-to-sauna/signin
    </p> 
    <p>
      C уважением, Администратор.
    </p> 	
  </body>
</html>