<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Добро пожаловать на go-to-sauna.ru, пользователь <%= @user.name %></h1>
    <p>
		Вы успешно зарегистрировались в нашей системе,<br/> 
		ваш логин: <%= @user.email %><br/>
		ваш пароль: <%= @user.password %><br/>
    </p>
    <p>
      Для входа на сайт перейдите по ссылке: http://go-to-sauna/signin
    </p>    
    <p>
      C уважением, Администратор.
    </p> 	
  </body>
</html>