<div class="main-page">	
	<%= render 'globalsearch' %>	

	<div class="add-button-container ">		
		<%= link_to t(:add_advertisement), new_admin_advertisement_path, :class => "big-add-green-button" %>   
	</div>
	
	<%= render 'searchform' %>	
	<%= render 'results' %>	
</div>	