<% if signed_in? && !user.admin? && user.owner? %>   
    <li>
      <%= link_to user.name, user %>
	  
	  <ul id="icons" class="ui-widget ui-helper-clearfix">
		<% li_add = "<li class='ui-state-default ui-corner-all' title='.ui-icon-plus'><span class='ui-icon ui-icon-plus'></span></li>" %>
		<%= link_to li_add.html_safe, new_sauna_path(:user_id => user.id) %>   	
		
		<% li_edit = "<li class='ui-state-default ui-corner-all' title='.ui-icon-wrench'><span class='ui-icon ui-icon-wrench'></span></li>" %>
		<%= link_to li_edit.html_safe, edit_user_path(user) %>   

		<% li_delete = "<li class='ui-state-default ui-corner-all' title='.ui-icon-trash'><span class='ui-icon ui-icon-trash'></span></li>" %>
		<%= link_to li_delete.html_safe, user, :method => :delete, :confirm => t(:confirm_delete_user) %>   		
	  </ul>
    </li>
<% end %>
