<!-- Avisales Widget -->															
<div id="aviasales_widget">
	<a href="http://aviasales.ru/?marker=18407" target="_blank"><%= image_tag("aviasales_200x200.gif") %></a>
</div>
<!-- /Avisales Widget -->	



