<div class="cloud">								
	<div class="c1"><a href="/map" target="_blank">сауна на карте города</a></div>
	<div class="c2"><a href="/perm" target="_blank">бани в Перми</a></div>
	<div class="c4"><a href="/" target="_blank">сауна с бассейном</a></div>
	<div class="c3"><a href="/" target="_blank">баня на 15 человек</a></div>
	<div class="c2"><a href="/" target="_blank">сауна с бильярдом</a></div>
	<div class="c1"><a href="/terms" target="_blank">онлайн-бронирование</a></div>					
</div>