<div class="round-box search-box">
	<%= search_form_for @q, :remote => true, :html => {:method => :get, :class => "round-box search-box"} do |f| %>
		<%= f.text_field :name_cont  %>		
		<%= f.submit " ", :class => "search-button" %>	
	<% end %>
</div>