<div class="helper">
	<div class="helper-right">
		<div class="helper-left">
			Нужна помощь? Нажмите <a href="#">здесь</a>, мы поможем!
		</div>
	</div>
	
  <% if mobile_device? %>
    <%= link_to t(:full_version), :mobile => 0 %> 
  <% else %>
    <%= t(:full_version) %> | <%= link_to t(:mobile_version), :mobile => 1 %>  
  <% end %>
  
</div>
