<div class="helper">
	<div class="helper-right">
		<div class="helper-left">
			Нужна помощь? Нажмите <a href="#">здесь</a>, мы поможем!
		</div>
	</div>
	
 <%= link_to t(:mobile_version), :mobile => 1 %>  | <%= link_to t(:smartfon_version), :mobile => 2 %>  

  
</div>
