<div class="mobile-adv">			
		<%= link_to t(:mobile_version), "/m" %> | <%= link_to t(:smartfon_version), "/pda" %><br/><br/>  				
		<center><span style="color: red; font-weight:bold;">NEW!</span> <%= link_to "Приложение для Android", "/mobile-app" %></center>				
</div>