<div class="main-font top-menu">
	<table width="100%" cellspacing="10">
		<tr>
			<td align="center">
				<a href="/">Главная</a>
			</td>		
			<td align="center">
				<a href="/map">Сауны на карте</a>
			</td>
			<td align="center">
				<a href="/notes">Статьи о бане</a>
			</td>
			<td align="center">
				<a href="/adv">Рекламодателям</a>
			</td>
		</tr>
	</table>
</div>