<div>		
<div class="close-button" onclick="closePopup()"><u>Закрыть</u></div>						
	<object width="500" height="500" id="foo">
		<param name="movie" value="https://s3.amazonaws.com/go-to-sauna/video/video1.swf">
		<embed src="https://s3.amazonaws.com/go-to-sauna/video/video1.swf" width="500" height="500">
		</embed>
	</object>	
	<p>Урок 1: Поиск сауны по параметрам.</p>		
</div>