<div class="main-page">
	<%= render 'globalsearch' %>	
	<%= render 'searchform' %>	
	<%= render 'results' %>	
</div>

<script type="text/javascript">
	Frame.initSearchByCustomerName('#q_booking_fio_cont');
	Frame.initSearchUserSaunaChain();
</script>	