<div class="round-box">
	<div class="round-sub-box">
		<div class="expanded _expandedBox">
			<h2>Что взять с собой в баню?</h2>
			<div class="_expanded ">
				<div class="_begin">
					В одном из своих рассказов Михаил Веллер так описывал типичного советского любителя бани: 
					"Славным летним днем, под вечер, он вышел из своего дома и по Большому проспекту пешочком двинулся к Невскому. Он помахивал пузатым старым портфелем, из которого спереди торчал край березового веника, а сзади — пивное горлышко. Все знали, что он любил попариться."
					Однако не только веник и пиво — главные аттрибуты бани! <a href="chto-vzyat">Читать далее...</a>				
				</div>
			</div>
			<div class="_closed"></div>
			<div class="clearing"></div>
		</div>
	</div>
</div>
