<div class="round-box">
	<div class="round-sub-box">
		<div class="expanded _expandedBox">
			<h2>Баня на колесах!</h2>
			<div class="_expanded">
				<div class="_begin">
					Оригинальную баню на колесах на базе военной автомашины ГАЗ-66 соорудили в Липецке. В машине есть парилка, душевая и комната отдыха. Баня топится 
					исключительно дровами и может принять с комфортом до 6 человек. Также имеется мангал, что делает передвижную баню идеальным спутником 
					для любителей отдыха на природе. Хотите такую же? Читайте далее, <a href="avtobanya">как сделать автобаню самому...</a>
				</div>
			</div>
			<div class="_closed"></div>
			<div class="clearing"></div>
		</div>
	</div>
</div>
