<div id="slidorion">

	<div id="slider">
		<div id="slide1" class="slide">
			<div class="slidorion-content">			
				<table>
					<tr>
						<td colspan="3">
							<a href="/kazan" target="_blanlk"><img src="images/slidorion/kazan/main.jpg" width="100%"/></a>		
						</td>
					</tr>
					<tr>
						<td>
							<a href="/saunas/bonaparte" target="_blank"><img src="images/slidorion/kazan/1.jpg"/ width="150" height="100"></a>
						</td>
						<td>
							<a href="/saunas/prestige-house" target="_blank"><img src="images/slidorion/kazan/2.jpg"/ width="150" height="100"></a>
						</td>
						<td>
							<a href="/saunas/hotel-art" target="_blank"><img src="images/slidorion/kazan/3.jpg"/ width="150" height="100"></a>
						</td>						
					</tr>					
				</table>					
			</div>
		</div>
		<div id="slide2" class="slide">
			<div class="slidorion-content">
				<table>
					<tr>
						<td colspan="3">
							<a href="/izhevsk" target="_blanlk"><img src="images/slidorion/izhevsk/main.jpg" width="100%"/></a>		
						</td>
					</tr>
					<tr>
						<td>
							<a href="/saunas/tri-topora" target="_blank"><img src="images/slidorion/izhevsk/1.jpg"/ width="150" height="100"></a>
						</td>
						<td>
							<a href="/saunas/otel-premier" target="_blank"><img src="images/slidorion/izhevsk/2.jpg"/ width="150" height="100"></a>
						</td>
						<td>
							<a href="/saunas/korolevskie-bani" target="_blank"><img src="images/slidorion/izhevsk/3.jpg"/ width="150" height="100"></a>
						</td>						
					</tr>					
				</table>								
			</div>
		</div>
		<div id="slide3" class="slide">
			<div class="slidorion-content">
				<table>
					<tr>
						<td colspan="3">
							<a href="/izhevsk" target="_blanlk"><img src="images/slidorion/chelni/main.jpg" width="100%"/></a>		
						</td>
					</tr>
					<tr>
						<td>
							<a href="/saunas/chelni-prestizh" target="_blank"><img src="images/slidorion/chelni/1.jpg"/ width="150" height="100"></a>
						</td>
						<td>
							<a href="/saunas/ararat" target="_blank"><img src="images/slidorion/chelni/2.jpg"/ width="150" height="100"></a>
						</td>
						<td>
							<a href="/saunas/banbas-poseidon" target="_blank"><img src="images/slidorion/chelni/3.jpg"/ width="150" height="100"></a>
						</td>						
					</tr>					
				</table>	
			</div>
		</div>
		<div id="slide4" class="slide">
			<div class="slidorion-content">
				<table>
					<tr>
						<td colspan="3">
							<a href="/yola" target="_blanlk"><img src="images/slidorion/yola/main.jpg" width="100%"/></a>		
						</td>
					</tr>
					<tr>
						<td>
							<a href="/saunas/venezia" target="_blank"><img src="images/slidorion/yola/1.jpg"/ width="150" height="100"></a>
						</td>
						<td>
							<a href="/saunas/virginia" target="_blank"><img src="images/slidorion/yola/2.jpg"/ width="150" height="100"></a>
						</td>
						<td>
							<a href="/saunas/stone" target="_blank"><img src="images/slidorion/yola/3.jpg"/ width="150" height="100"></a>
						</td>						
					</tr>					
				</table>	
			</div>
		</div>
		<div id="slide5" class="slide">
			<div class="slidorion-content">
				<table>
					<tr>
						<td colspan="3">
							<a href="/ufa" target="_blanlk"><img src="images/slidorion/ufa/main.jpg" width="100%"/></a>		
						</td>
					</tr>
					<tr>
						<td>
							<a href="/saunas/ufimskie-bani" target="_blank"><img src="images/slidorion/ufa/1.jpg"/ width="150" height="100"></a>
						</td>
						<td>
							<a href="/saunas/ufa-bochka" target="_blank"><img src="images/slidorion/ufa/2.jpg"/ width="150" height="100"></a>
						</td>
						<td>
							<a href="/saunas/nur" target="_blank"><img src="images/slidorion/ufa/3.jpg"/ width="150" height="100"></a>
						</td>						
					</tr>					
				</table>	
			</div>
		</div>		
	</div>

	<div id="accordion">
		<div class="link-header">Казань</div>
		<div class="link-content">
			<p>Считается, что баня — исконно русская традиция, однако среди некоторых историков бытует мнение, что бани у жителей Татарстана почитались даже больше, чем у русских! В подтверждение сего факта в 2011 году Казани открылось региональное сообщество любителей бани «Татар мунчасы» (Татарская баня).</p>
		</div>				
		<div class="link-header">Ижевск</div>
		<div class="link-content">
			<p>Первая общественная баня в Ижевске появилась в январе 1917 года. Это было заведение Колупаева, которое находилось около Долгого моста и проработало аж до 1930 года. За время советской власти банно-прачечное хозяйство Ижевска росло, в городе появилось шесть общественных бань. Часть из них работает до сих пор, например, Баня №7 на улице Школьной. </p>
		</div>
		<div class="link-header">Набережные Челны</div>
		<div class="link-content">
			<p>В этом городе баня настолько популярна, что здесь даже проводятся соревнования! А для того, чтоб за процессом могли наблюдать зрители, в помещении с бассейном была специально сконструирована баня с прозрачной стенкой! </p>				
		</div>			
		<div class="link-header">Йошкар-Ола</div>
		<div class="link-content">
			<p>Без сомнения, сауны и бани в Йошкар-Оле обладают лучшим соотношением цена-качество, по сравнению с аналогами в соседних регионах. При этом цена не сказывается на уровне сервиса — сауны Йошкар-Олы даруют вам роскошный отдых по умеренным ценам!</p>		
		</div>
		<div class="link-header">Уфа</div>
		<div class="link-content">
			<p>Сауны и бани в Уфе строятся по принципу: большому городу — большие бани. Бани в Уфе — это целые банные комплексы, содержащие в себе не только помывочные, но и рестораны, гостиничные номера, массажные кабинеты и конференц-залы. </p>
		</div>
	</div>

</div>

<script>
	$(function(){
		$('#slidorion').slidorion({		
			autoPlay: true,
			effect: 'slideRight',
			hoverPause: true,
			interval: 3000,
			speed: 800,
			controlNav: false,
			controlNavClass: 'nav'
		});
	});
</script>