<div class="close-button" onclick="closePopup()"><u>Закрыть</u></div>		

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container2" class="wowslider-container">
<div class="ws_images">
	<ul>
		<li><img src="images/data2/images/1.jpg" alt="Основные параметры" title="Основные параметры" id="wows0"/>Задайте криетрии поиска: ценовой диапозон, размер, тип парной, наличие фотографий, возможность онлайн-бронирования.</li>
		<li><img src="images/data2/images/2.jpg" alt="Дополнительные параметры" title="Дополнительные параметры" id="wows1"/>Укажите дополнительные параметры поиска такие, как наличие кухни, бассейна, комнаты отдыха и т.д.</li>
		<li><img src="images/data2/images/3.jpg" alt="Выбор местоположения" title="Выбор местоположения" id="wows2"/>Выберите город и предпочтительный район нахождения сауны.</li>
		<li><img src="images/data2/images/4.jpg" alt="Результаты поиска" title="Результаты поиска" id="wows3"/>После того, как вы нажмете кнопку "Найти", система подберет сауны в соответствии с вашими требованиями. Результаты выводятся по-странично. Вы можете сортировать найденные сауны по цене и вместимости.</li>
	</ul>
</div>
<div class="ws_bullets">
	<div>
		<a href="#" title="Основные параметры"><img src="images/data2/tooltips/1.jpg" alt="Основные параметры"/>1</a>
		<a href="#" title="Дополнительные параметры"><img src="images/data2/tooltips/2.jpg" alt="Дополнительные параметры"/>2</a>
		<a href="#" title="Выбор местоположения"><img src="images/data2/tooltips/3.jpg" alt="Выбор местоположения"/>3</a>
		<a href="#" title="Результаты поиска"><img src="images/data2/tooltips/4.jpg" alt="Результаты поиска"/>4</a>
	</div>
</div>
<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
	
	
