<div class="close-button" onclick="closePopup()"><u>Закрыть</u></div>		
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container2" class="wowslider-container">
<div class="ws_images">
	<ul>
		<a href="#">
			<li><img src="images/data2/images/1.jpg" alt="Выбор даты бронирования" title="Выбор даты бронирования" id="wows0"/>
			Выберите дату бронирования. На один день можно сделать несколько непересекающихся бронирований.
			</li>
		</a>			
	</ul>
</div>
<div class="ws_bullets">
	<div>
		<a href="#" title="Выбор даты бронирования"><img src="images/data2/tooltips/1.jpg" alt="Выбор даты бронирования"/>1</a>
		<a href="#" title="Выбор времени бронирования"><img src="images/data2/tooltips/2.jpg" alt="Выбор времени бронирования"/>2</a>
		<a href="#" title="Контактная информация"><img src="images/data2/tooltips/3.jpg" alt="Контактная информация"/>3</a>
		<a href="#" title="Подтверждение оплаты"><img src="images/data2/tooltips/4.jpg" alt="Подтверждение оплаты"/>4</a>
		<a href="#" title="Выбор способа оплаты на сайте Robokassa"><img src="images/data2/tooltips/5.jpg" alt="Выбор способа оплаты на сайте Robokassa"/>5</a>
		<a href="#" title="Ввод платежных данных"><img src="images/data2/tooltips/6.jpg" alt="Ввод платежных данных"/>6</a>
		<a href="#" title="Подтверждение платежа"><img src="images/data2/tooltips/7.jpg" alt="Подтверждение платежа"/>7</a>
		<a href="#" title="Выполнение платежа"><img src="images/data2/tooltips/8.jpg" alt="Выполнение платежа"/>8</a>
		<a href="#" title="Возврат на сайт Robokassa"><img src="images/data2/tooltips/9.jpg" alt="Возврат на сайт Robokassa"/>9</a>
		<a href="#" title="Квитанция об оплате"><img src="images/data2/tooltips/10.jpg" alt="Квитанция об оплате"/>10</a>
		<a href="#" title="Возврат на go-to-sauna.ru"><img src="images/data2/tooltips/11.jpg" alt="Возврат на go-to-sauna.ru"/>11</a>
	</div>
</div>
<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->