<div class="close-button" onclick="closePopup()"><u>Закрыть</u></div>		
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1" class="wowslider-container">
<div class="ws_images">
	<ul>
		<li><img src="images/data1/images/1.jpg" alt="Выбор даты бронирования" title="Выбор даты бронирования" id="wows0"/>Выберите дату бронирования. На один день можно сделать несколько непересекающихся бронирований.</li>
		<li><img src="images/data1/images/3.jpg" alt="Выбор времени бронирования" title="Выбор времени бронирования" id="wows1"/>Выберите время бронирования. Выбранный вами временной интервал не должен пересекаться с другими бронированиями.</li>
		<li><img src="images/data1/images/5.jpg" alt="Контактная информация" title="Контактная информация" id="wows2"/>Укажите вашу контактную информацию. На указанный номер телефона и e-mail вам придет уведомление о бронировании.</li>
		<li><img src="images/data1/images/6.jpg" alt="Подтверждение оплаты" title="Подтверждение оплаты" id="wows3"/>На этом этапе заявка на бронирование будет отправлена администратору сауны. Для подтверждения ваших намерений вы должны внести предоплату. Мы не гарантируем бронирование сауны без внесения предоплаты.</li>
		<li><img src="images/data1/images/65.jpg" alt="Выбор способа оплаты на сайте Robokassa" title="Выбор способа оплаты на сайте Robokassa" id="wows4"/>Мы рекомендуем вам вносить предоплату с помощью банковской карты Visa или MasterCard. Для этого выберите вариант оплаты  "Банковской картой через Platezh.ru". Внимание! Вы должны зарегистрировать свою карту на сайте Platezh.ru для осуществления платежей.</li>
		<li><img src="images/data1/images/7.jpg" alt="Ввод платежных данных" title="Ввод платежных данных" id="wows5"/>Авторизуйтесь на сайте Platezh.ru и введите CVV2 код.</li>
		<li><img src="images/data1/images/8.jpg" alt="Подтверждение платежа" title="Подтверждение платежа" id="wows6"/>Проверьте платежные реквизиты и подтвердите оплату</li>
		<li><img src="images/data1/images/12.jpg" alt="Выполнение платежа" title="Выполнение платежа" id="wows7"/>Дождитесь выполнения всех шагов оплаты. Платеж должен быть в статусе "Исполнен".</li>
		<li><img src="images/data1/images/13.jpg" alt="Возврат на сайт Robokassa" title="Возврат на сайт Robokassa" id="wows8"/>После успешной оплаты вы вернетесь на сайт Robokassa.</li>
		<li><img src="images/data1/images/14.jpg" alt="Квитанция об оплате" title="Квитанция об оплате" id="wows9"/>Информация о выполненом платеже хранится в нашей баз данных, однако мы рекомендуем вам распечатать квитанцию об оплате.</li>
		<li><img src="images/data1/images/15.jpg" alt="Возврат на go-to-sauna.ru" title="Возврат на go-to-sauna.ru" id="wows10"/>После успешной оплаты вы вернетесь на  наш сайт.</li>
	</ul>
</div>
<div class="ws_bullets">
	<div>
		<a href="#" title="Выбор даты бронирования"><img src="images/data1/tooltips/1.jpg" alt="Выбор даты бронирования"/>1</a>
		<a href="#" title="Выбор времени бронирования"><img src="images/data1/tooltips/3.jpg" alt="Выбор времени бронирования"/>2</a>
		<a href="#" title="Контактная информация"><img src="images/data1/tooltips/5.jpg" alt="Контактная информация"/>3</a>
		<a href="#" title="Подтверждение оплаты"><img src="images/data1/tooltips/6.jpg" alt="Подтверждение оплаты"/>4</a>
		<a href="#" title="Выбор способа оплаты на сайте Robokassa"><img src="images/data1/tooltips/65.jpg" alt="Выбор способа оплаты на сайте Robokassa"/>5</a>
		<a href="#" title="Ввод платежных данных"><img src="images/data1/tooltips/7.jpg" alt="Ввод платежных данных"/>6</a>
		<a href="#" title="Подтверждение платежа"><img src="images/data1/tooltips/8.jpg" alt="Подтверждение платежа"/>7</a>
		<a href="#" title="Выполнение платежа"><img src="images/data1/tooltips/12.jpg" alt="Выполнение платежа"/>8</a>
		<a href="#" title="Возврат на сайт Robokassa"><img src="images/data1/tooltips/13.jpg" alt="Возврат на сайт Robokassa"/>9</a>
		<a href="#" title="Квитанция об оплате"><img src="images/data1/tooltips/14.jpg" alt="Квитанция об оплате"/>10</a>
		<a href="#" title="Возврат на go-to-sauna.ru"><img src="images/data1/tooltips/15.jpg" alt="Возврат на go-to-sauna.ru"/>11</a>
	</div>
</div>
<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->