<div class="main-page">	
	<%#-= render 'shared/globalsearch' %>	
	<%= render 'shared/mobile' %>	
	<br/><br/><br/><br/>

	<div class="round-box filter-box">
		<ul>
			<li class="black _closeOnReady _expandedBox filter-section closed">
				<h1>Размещение рекламы на сайте</h1>
				<div class="extra_params _expanded">
					<div class="about">
						<p>
						Мы предлагаем размещение рекламы на нашем сайте, а также в мобильном <a href="/mobile-app">приложении "Сауны и бани"</a> для Android. 
						Сайт содержит наиболее полную информацию по саунам и баням в Ижевске. Также в каталог добавляются сауны соседних городов. 
						В месяц сайт посещают более 1500 человек и эта цифра растет. Сайт легко находится  
						в поисковых системах Яндекс и Google по соответствующим поисковым запросам. 
						</p>
						
						<h4>Блок на главной странице</h4>					
						<p>
						Блок на главной странице cодержит до трех баннеров, размер каждого не более 200х300. Тематика - любая.
						Данный блок показывается на каждой странице сайта. Стоимость размещения одного баннера - 300 рублей в месяц.
						</p>
					
						<center>
						<a href="/assets/adv/adv-main.png" target="_blank"><img src="/assets/adv/adv-main.png"  style="margin:10px;" width="500" height="300"/></a>
						</center>
						
						
						<h4>Блок тематической рекламы</h4>	
						<p>Блок тематической рекламы располагается на странице описания банного комплекса, содержит два рекламных объявления. 
						Тематика - службы такси, доставка продуктов питания, доставка алкоголя в ночное время, организация выездных шоу-программ.
						Блок показывается для всех объектов выбранного города. Для каждого банного комплекса показываются объявления, 
						относящиеся к городу, в котором он находится. Стоимость размещения объявления - 100 рублей в месяц.
						</p>
						
						<center>
						<a href="/assets/adv/adv-tema.png" target="_blank"><img src="/assets/adv/adv-tema.png"  style="margin:10px;" width="500" height="300"/></a>
						</center>
						
						<p>Блок тематической рекламы показывается также в обеих мобильных версиях сайта. Пользователь может
						совершить звонок, просто нажав на ссылку на номер, указанный в объявлении. Объявления будут также показываться в мобильном приложении для Android.						
						</p>

						<center>
						<a href="/assets/adv/adv-tema-mobile.png" target="_blank"><img src="/assets/adv/adv-tema-mobile.png"  style="margin:10px;" width="200" height="300"/></a>
						<a href="/assets/adv/adv-tema-smart.png" target="_blank"><img src="/assets/adv/adv-tema-smart.png"  style="margin:10px;" width="200" height="300"/></a>
						</center>
						
						<br/><br/>
						<p>По всем вопросам размещения рекламы вам необходимо <a href="mailto:gotosauna@gmail.com">связаться с нами по email</a>. 					
						</p>						
					</div>
					<div class="clearing"></div>
				</div>	
			</li>		
		</ul>

	</div>
	
					
</div>		