<div class="main-page">
	<%= render 'shared/globalsearch' %>	
	<%= render 'shared/mobile' %>	
	
	<%= render 'saunas/results' %>	
	<%= will_paginate @saunas %>
</div>
<script type="text/javascript">
	Frame.initSearchByName();
</script>
	
	