<div data-role="header">
	<h1></h1>	
	<%= link_to t(:home), "/", "data-icon" => "back", "class" => "ui-btn-left", "data-ajax" => "false" %>
	<%= link_to t(:full_version), "/?mobile=0", "data-icon" => "gear", "class" => "ui-btn-right", "data-ajax" => "false" %>
</div>

<div data-role="content">
  <ul data-role="listview">    
    <li>
		<a href="/votkinsk">Воткинск</a>
    </li>
    <li>
		<a href="/glazov">Глазов</a>
    </li>
    <li>
		<a href="/izhevsk">Ижевск</a>
    </li>
    <li>
		<a href="/kazan">Казань</a>
    </li>
    <li>
		<a href="/kirov">Киров</a>
    </li>
    <li>
		<a href="/mozhga">Можга</a>
    </li>
	<li>
		<a href="/neftekamsk">Нефтекамск</a>
    </li>
    <li>
		<a href="/nizhnekamsk">Нижнекамск</a>
    </li>	
    <li>
		<a href="/sarapul">Сарапул</a>
    </li>	
  </ul>
</div>