<div class="main-page">	
	<br/><br/>
	<div class="round-box filter-box">
		<ul>
			<li class="black _closeOnReady _expandedBox filter-section closed">
				<h1>Сауны и бани в городах</h1>
				<div class="extra_params _expanded">
					<div class="about">
						<p>На нашем сайте представлено более 110 саун и бань во всех городах Удмуртской Республики. Здесь собрана самая полная информация о саунах нашего региона —
						описание, цены, фото, отзывы, схемы проезда, адреса и телефоны. 
						Мы постоянно работаем над обновлением списка, как правило, каждую 
						неделю в нашем каталоге появляется новая сауна или баня. 
						Если Вы видите, что известная Вам сауна отсутствует в нашем каталоге, <a href="mailto:gotosauna@gmail.com">сообщите нам о ней</a> и мы добавим её на наш сайт. 
						</p>
						<br/> 
						
						<a name="V"><b>В</b></a><br/>										
						<a href="/votkinsk">Воткинск</a><br/><br/>
						
						<a name="G"><b>Г</b></a><br/>
						<a href="/glazov">Глазов</a><br/><br/>
						
						<a name="I"><b>И</b></a><br/>
						<a href="/izhevsk">Ижевск</a><br/>
						<a href="/yola">Йошкар-Ола</a><br/><br/>		
						
						<a name="K"><b>К</b></a><br/>
						<a href="/kazan">Казань</a><br/>
						<a href="/kirov">Киров</a><br/><br/>	
						
						<a name="M"><b>М</b></a><br/>
						<a href="/mozhga">Можга</a><br/><br/>
						
						<a name="N"><b>Н</b></a><br/>
						<a href="/chelni">Набережные Челны</a><br/>
						<a href="/neftekamsk">Нефтекамск</a><br/>
						<a href="/nizhnekamsk">Нижнекамск</a><br/><br/>
						
						<a name="S"><b>С</b></a><br/>
						<a href="/sarapul">Сарапул</a><br/>
						<a href="/sterlitamak">Стерлитамак</a><br/><br/>
						
						<a name="P"><b>П</b></a><br/>
						<a href="/perm">Пермь</a><br/><br/>	

						<a name="U"><b>У</b></a><br/>
						<a href="/ufa">Уфа</a><br/><br/>							
					</div>
					<div class="clearing"></div>
				</div>	
			</li>		
		</ul>
	</div>	
</div>