<div class="main-page">	
	<br/><br/>
	<div class="round-box filter-box">
		<ul>
			<li class="black _closeOnReady _expandedBox filter-section closed">
				<h1>Сауны и бани в городах</h1>
				<div class="extra_params _expanded">
					<div class="about">
						<p>На нашем сайте представлено более 400 <a href="/izhevsk">саун в Ижевске</a>, <a href="/kazan">Казани</a>, <a href="/kirov">Кирове</a> 
						и других городах. Здесь собрана самая полная информация о саунах нашего региона —
						описание, цены, фото, отзывы, схемы проезда, адреса и телефоны. 
						Мы постоянно работаем над обновлением списка, как правило, каждую 
						неделю в нашем каталоге появляется новая сауна или баня. 
						Если Вы видите, что известная Вам сауна отсутствует в нашем каталоге, <a href="mailto:gotosauna@gmail.com">сообщите нам о ней</a> и мы добавим её на наш сайт. 
						</p>
						<br/> 
						
						<table>
							<% City.order("name").each_with_index  do |city, index| %>
								<% if ((index % 2) == 0) %>
									<tr>
										<td>
											<a href="<%= city.path %>"><%= city.name %></a>
										</td>								
								<% else %>
										<td>
											<a href="<%= city.path %>"><%= city.name %></a>	
										</td>
									</tr>										
								<% end %>									
							<% end %>	
						</table>
	
	
						
					</div>
					<div class="clearing"></div>
				</div>	
			</li>		
		</ul>
	</div>	
</div>