<div class="main-page">
	<%= render 'shared/globalsearch' %>	
	<%= render 'shared/mobile' %>	
	<%= render 'saunas/results' %>	
	
	<div class="digg_pagination">
		<%= will_paginate @saunas, :container => false %>
	</div>
	
</div>
<script type="text/javascript">
	Frame.initSearchByName();
	Frame.initSaunaSorting();
</script>
	
	