<table class="search-form">
	<% City.order("name").each_with_index  do |city, index| %>
		<% if ((index % 2) == 0) %>
			<tr>
				<td align="left" class="even">
					<a href="<%= city.path %>"><%= city.name %></a>
				</td>
			</tr>					
		<% else %>
			<tr>		
				<td align="left" class="odd">
					<a href="<%= city.path %>"><%= city.name %></a>	
				</td>
			</tr>										
		<% end %>									
	<% end %>	
</table>