<%= render 'shared/top_menu' %>
<div class="main-page">	
	<div class="round-box filter-box">
		<ul>
			<li class="black _closeOnReady _expandedBox filter-section closed">
				<h1>Что взять с собой в баню?</h1>
				<div class="extra_params _expanded">
					<div class="about">
						<p>Наверно у каждого есть свой набор "настоящего банщика" — кто-то ограничивается мочалкой и шампунем, кто-то не мыслит себе нахождения в парной без шапки, кто-то берет ещё и рукавицы. 
						Как правило, большинство саун и бань в Ижевске предоставляют необходимые банные принадлежности. Где-то этот набор входит в стоимость, где-то — за отдельную плату, однако нам кажется, 
						что посещая публичные бани и сауны, лучше воспользоваться принципом "всё своё ношу с собой" — это надежнее и гигиеничнее. Итак, рассмотрим, что нам может понадобиться в бане.
						</p>
						
						<h3>Тапочки</h3>
						<p>Да-да, мы начнем именно с тапочек. Посещая общественные бани и сауны вы обязательно должны носить обувь, потому что через пол могут передаваться грибковые заболевания. 
						Выбирая между тапочками из пластмассы и тапочками из резины, мы бы рекомендовали вам носить последние, так как они менее скользят по кафелю, а значит 
						значительно снижают риск падения.
						</p>
						
						<h3>Полотенце</h3>
						<p>Полотенце — обязательно большое и махровое. Не стоит заносить полотенце в баню, лучше оставлять его в раздевалке - так оно останется жестким и сухим. 
						Также не стоит использовать полотенце в качестве подстилки. Используйте для подстилки ткань из фланеля или байки, или другое полотенце, которым вы не будете 
						вытираться.
						</p>						
						
						<h3>Мочалка</h3>
						<p>Существует огромное количество разновидностей мочалок, они имеют разную жесткость и могут быть сделаны как из натуральных материалов, 
						так и из исскуственных. Используйте ту мочалку, которая более подходит для вашей кожи. Людям с нежной кожей можно использовать губки. После использования, 
						и губки, и мочалки, необходимо высушить. 
						</p>
						
						<h3>Шапка</h3>
						<p>Шапка — главный аттрибут банщика-профессионала. Шапка защищает уши и голову от горячего пара. Банная шапка должна быть только из натуральных материалов. Сейчас 
						в магазинах продаются специальные шапки для сауны из войлока и фетра. Однако те, кто не хотят тратить деньги, могут использовать старые зимние шапки из 
						хлопка или шерсти.
						</p>		

						<h3>Руковицы</h3>
						<p>Руковицы также оберегают руки банщика от ожогов. Как и шапки, руковицы, которые продаются в магазинах, сделаны из войлока или фетра, однако, 
						с таким же успехом вы можете использовать руковицы из шерсти или брезента.
						</p>		

						<h3>Веник</h3>
						<p>Ну и наконец Его Величество Веник. О банных вениках можно писать диссертации, мы же отметим, что помимо классических березовых веников, 
						в банях также могут использоваться веники из дуба или даже хвойные веники!
						</p>	

						<h3>Прочее</h3>
						<p>Зайдя в какой-нибудь магазин типа "Для тела и души", вы обнаружите, что есть огромное количество вещей и аксесуаров для бани. Помимо перечисленного нами, 
						вам также могут понадобиться: шампунь, мыло, подстилка, простыни, щетки, скрабы, лосьоны, ножницы, бритвенные принадлежности и многое другое. Как говорится, 
						на вкус и цвет - фоломастеры разные. Выбор всегда за вами!
						</p>						
					</div>
					<div class="clearing"></div>
				</div>	
			</li>		
		</ul>

	</div>
	
					
</div>		