<div class="main-page">	
	<%#-= render 'shared/globalsearch' %>	
	<%= render 'shared/mobile' %>	
	<br/><br/><br/><br/>

	<div class="round-box filter-box">
		<ul>
			<li class="black _closeOnReady _expandedBox filter-section closed">
				<h1>Правила и условия</h1>
				<div class="extra_params _expanded">
					<div class="about">
						<div class="question">Я не вижу кнопку "забронировать" на старнице сауны.</div>
						<div class="answer">
						Кнопка "забронировать" отображается на странице тех саун и бань, которые подключены к нашей системы бронирования. 
						Если кнопка отсутствует,
						то вы можете забронировать сауну только по телефону или при личной встрече.
						</div>
						
						<div class="question">У меня нет банковской карты, могу ли я внести предоплату наличными?</div>
						<div class="answer">
						Вы можете внести пердоплату наличным в одном из терминалов оплаты Qiwi.
						</div>
			
						<div class="question">У меня нет банковской карты, могу ли я внести предоплату наличными?</div>
						<div class="answer">
						Вы можете внести пердоплату наличным в одном из терминалов оплаты Qiwi.
						</div>
						
						<div class="question">Какия комиссия взымается при оплате через ваш сайт?</div>
						<div class="answer">
						Мы не берем комиссию с пользователей. Комиссия может взыматься компаниями, которые обрабатывают ваш платеж. 
						Размер комиссии зависит от выбранного Вами способа оплаты.						
						</div>
						
						<div class="question">Я внес предоплату, но не получил подтверждения.</div>
						<div class="answer">
						Если вы течении часа после оплаты вы не получили ни sms, ни email с подтверждением, рекомендуем Вам <a href="mailto:gotosauna@gmail.com">связаться с нами по email</a>.						
						</div>
						

						
						<!--
						Выберите интересующую вас сауну, нажмите на кнопку "забронировать". В открывшемся окне выберете интересующий вас день. Если в этот день 
						сауна свободна, выделите мышкой временной интервал, на который вы хотите забронировать сауну и нажмите "далее". В следующем окне заполните 
						обязательные поля - контактное лице, номер телефона и адрес электронной почты. В поле "описание" вы можете оставить дополнительную информацию о заказе. 
						-->
						
					</div>
					<div class="clearing"></div>
				</div>	
			</li>		
		</ul>

	</div>
	
					
</div>		