<div class="main-page">	
	<%#-= render 'shared/globalsearch' %>	
	<%= render 'shared/mobile' %>	
	<br/><br/><br/><br/>

	<div class="round-box filter-box">
		<ul>
			<li class="black _closeOnReady _expandedBox filter-section closed">
				<h1>Как это работает</h1>
				<div class="extra_params _expanded">
					<div class="about">
						<p>Посмотрите наши ознакомительные презентации. 
						Потратив несколько минут, вы узнаете, как быстро и легко найти сауну, 
						которая наиболее отвечает вашим требованиям. Вы также узнаете, как забронировать сауну и внести предоплату с помощью банковской карты.  
						</p>
					<br/>					
					<a href="#" onclick="showVideo2()">Урок1. Поиск сауны по параметрам</a><br/>
					<a href="#" onclick="showVideo1()">Урок2. Бронирование и оплата с помощью банковской карты</a><br/>											
					</div>
					<div class="clearing"></div>
				</div>	
			</li>		
		</ul>
	</div>
</div>		

<div id="boxes"> 	

	<div id="dialog-video1" class="window">			
		<%= render 'video1' %>	
	</div>
	
	<div id="dialog-video2" class="window">			
		<%= render 'video2' %>	
	</div>	
	
	<!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
	<div id="mask"></div>
</div>
 