<%= render 'shared/top_menu' %>
<div class="main-page">					
	<%= render 'slidorion' %>	
				
	<div style="width: 800px; padding-top: 20px;">
		<div class="about">
		<p> Здесь вы найдете все сауны и бани региона Поволжье - свыше 1000 объектов в 19 городах России. Более 4000 фотографий. 
		Мы постоянно обновляем информацию о саунах и расширяем географию портала. Для вашего удобства дсразу две мобильные версии сайта — <a href="/m">для обычных телефонов</a> и для <a href="/pda">для смартфонов</a>. 
		А для владельцев смартфонов на платформе Android мы выпустили <a href="/mobile-app">приложение "Сауны и бани"</a>. Для дальнейшей работы с сайтом, выбирете интересующий вас город из списка: </p>
		</div>
	</div>
	
	<%= render 'cities' %>			
</div>