<div data-role="header">
	<h1></h1>	
	<%= link_to t(:home), "/", "data-icon" => "back", "class" => "ui-btn-left", "data-ajax" => "false" %>
	<%= link_to t(:full_version), "/?mobile=0", "data-icon" => "gear", "class" => "ui-btn-right", "data-ajax" => "false" %>
</div>

<div data-role="content">
	<b>Приложение для Android</b>
	<br/>
	<p>Мобильное приложение для телефонов на платформе Android позволит вам быстро найти нужную сауну, сделав всего несколько касаний. Приложение разработано 
	на Android 1.6, т.о. оно поддерживается 99% устройств на этой популярной платформе.</p>
						
	<a href="/assets/android/gotosauna.apk">Скачать gotosauna.apk, 271Kb</a> - скачать бесплатно приложение "Сауны и бани" на телефон.
	
	<p>Внимание! Приложение использует подключение к сети интернет для получения данных, поэтому при скачивании с вашего телефона информации оператор сотовой связи может 
						взимать плату за использование интернета согласно вашему тарифу. Также обратите внимание, что приложение кэширует полученную информацию на вашем телефоне для экономии трафика, 
						т.о. при установке приложения необходимо дать разрешение на право записи информации в файловую систему вашего телефона. 
	</p>	
</div>