<%= render 'shared/top_menu' %>
<div class="main-page">	
	<div class="round-box filter-box">
		<ul>
			<li class="black _closeOnReady _expandedBox filter-section closed">
				<h1>Когда баня в пользу, а когда — нет?</h1>
				<div class="extra_params _expanded">
					<div class="about">
						<p>
						<h3>О пользе для организма</h3>
						Баня — не только удовольствие, но и польза организму. Главный механизм оздаровления в бане — гипертеремия, т.е. когда воздействие на тепло повышенных температур. 
						Это 
						позволяет улучшить обмен веществ, также выводятся токсины (именно поэтому так помогает баня с похмелья!), 
						омолаживается кожа и повышается тонус. Баня рекомендуется людям с заболеваниями дыхательной системы, с повреждениями позвончника, 
						с проблемами кожи и нарушением 
						обмена веществ.
						</p>

						<p>
						<h3>Хорошего по-маленьку</h3>
						Однако, не стоит переусердствовать. Помня поговорку, что "женщина родит ребенка за девять месяцев, но девять женщин не родят ребенка за месяц", 
						не стоит надеяться, 
						что чрезмерные банные процедуры приведут к скорейшему выздоравлению. Тепловые процедуры не должны длиться более 15 минут единовременно. Также стоит помнить, 
						что воздух в 
						бане очень горяч, а потому рекомендуется дышать только носом, во избежании ожогов носоглотки и горла. Особенно серьезно стоит к этому отнестись, когда вместе 
						с вами в баню 
						идут дети. Помните, что детский организм имеет менее развитые механизмы терморегуляции и ему сложнее переносить перегрев в бане. Также не рекомендуется 
						ныряние в сугроб или в бассейн с холодной водой. 
						И уж тем более не стоит заставлять ребенка идти в баню насильно.
						</p>
					
						<p>
						<h3>Секс в бане</h3>
						Все мы смотрели фильм "Любить по-русски" и помним эту сцену в бане. Баня позволяет людям расслабиться и создает интимную атмосферу. Не секрет, что для многих  
						слова "секс" и "баня" являются синонимами. Отбросим вопросы морали в сторону, напомним лишь, что пребывание в бане требует 
						от человека некоторых физических усилий, в бане повышается частота сердцебиения, а занятие сексом даст и без того дополнительную нагрузку на сердце. Выбор всегда остается 
						за вами, мы лишь по крайней мере не рекомендуем заниматься этим в парной.
						</p>					
					</div>
					<div class="clearing"></div>
				</div>	
			</li>		
		</ul>

	</div>
	
					
</div>		