<div class="main-page">	
	<br/><br/>

	<div class="round-box filter-box">
		<ul>
			<li class="black _closeOnReady _expandedBox filter-section closed">
				<h1>Сауна или баня?</h1>
				<div class="extra_params _expanded">
					<div class="about">
						<p>
						Существует много разновидностей бань, но у всех у них единое назначение 
						— люди используют баню для мытья тела, при этом с одновременным действием воды применяется 
						горячий воздух или пар. Баня была изобретена человеком очень давно и имелась практически у каждого народа. Однако, не смотря на общий принцип воздействия 
						на человека, рассмотрим некоторые отличия.											
						</p>
						
						<h3>Русская баня</h3>
						<p>Классическая русская баня топится на дровах, а пар в ней образуется при поливании воды на камни, расположенные в печи. 
						Камни помещаются в замкнутое отделение в печи, они максимально прогреваются и делают воздух горячим. Сама печь может быть как каменной, так и металлической. Также 
						она может иметь бак для нагревания воды. Современные русские бани могут иметь несколько отделений: предбанник, помывочную и парную. 
						Дверь в предбанник, как правило, малых размеров и имеет высокий порог — это сделано для уменьшния теплопотерь.
						</p>
						
						<h3>Сауна</h3>
						<p>Сауна — финское название бани. Температура в сауне поддерживается в пределах 70-110 °C, а влажность регулируется количеством воды, выливаемой на камни (каменку).
						Современные сауны могут быть оборудованы электрическими каменками.
						</p>						
						
						<h3>Сухая сауна</h3>
						<p>Если верить Википедии, то сухая сауна не имеет отношения к финской сауне. Она относится к типу суховоздушных бань. 
						Из-за низкой влажности такая сауна переносится легче, чем баня.
						</p>
						
						<h3>Хаммам</h3>
						<p>Хаммам — турецкая баня. Стены такой бани сделаны из мрамора, который нагревается до температуры 45-50°C. Воздух в такой бане очень влажный. 
						Одной из отличительных особенностей хаммама является наличие не только самой турецкой бани, но и нескольких сопутствующих процедур, таких как разные виды массажа и пиллинг.
						</p>
						
						<h3>Сэнто</h3>
						<p>Сэнто — японская баня. Как таковой в нет парилки, вместо этого посетители должны пройти 
						обязательный набор процедур — сначала они многократно моются в помывочной, а потом переходят в бассейн с горячей водой.
						</p>		
						
						<br/>
						<p>
						Подводя итог можно сказать, что независимо от типа парной, баня — это отличный способ оздоровить организм. Однако из всех видов бань, наиболее
						близкой к природной является русская баня. У нее не такая высокая влажность, как в турецкой бане, и не такая высокая температура, как в сухой сауне. 
						К тому же, в русской бане для помывки используются натуральные компоненты — березовый веник, льняная мочалка и мед для натирания.
						</p>						
					</div>
					<div class="clearing"></div>
				</div>	
			</li>		
		</ul>

	</div>
	
					
</div>		