<div class="main-page">	
	<%#-= render 'shared/globalsearch' %>	
	<%= render 'shared/mobile' %>	
	<br/><br/><br/><br/>

	<div class="round-box filter-box">
		<ul>
			<li class="black _closeOnReady _expandedBox filter-section closed">
				<h1>Правила и условия</h1>
				<div class="extra_params _expanded">
					<div class="about">
						<p>Наш портал позволяет забронировать сауны и бани в режиме реального времени. Забронировать можно только те сауны,
						которые подключены к системе бронирования. Выбрав сауну, доступную на дату Вашего отдыха, Вы можете забронировать её на нашем сайте, 
						осуществить предоплату и получить моментальное подтверждение о сделанной брони. 
						Бронирование через нашу систему осуществляется бесплатно. Вы можете внести предоплату с помощью банковской карты, электронных кошельков или 
						воспользовавшись терминалами оплаты системы Qiwi.</p>
						
						
						<p>Во время бронирования вам будет необходимо указать ваши контактные данные - имя, телефон и email. Эти данные нужны нам, чтобы оповестить вас о результатах
						 бронирования путем sms и email. Мы гарантируем конфеденциальность ваших данных и не передаем их третьим лицам.						 
						При внесении предоплаты Вы будете перенаправлены на сайт компании, которая занимается обработкой платежей. Выберите наиболее удобный 
						вам способ оплаты. Мы осуществляем бронирование бесплатно, однако в зависимости от выбранного Вами вида оплаты, с Вас может быть удержана комиссия процессинговой компанией.						
						После успешного бронирования, данные о вашем заказе будут отправлены администратору сауны. Также рекомендуем вам связываться с администраторами сауны по телефону  
						для подтверждения бронирования и уточнения деталей.
						</p>
					</div>
					<div class="clearing"></div>
				</div>	
			</li>		
		</ul>

	</div>
	
					
</div>		