<div class="main-page">
	<%= render 'globalsearch' %>	
	<%= render 'searchform' %>	
	<%= render 'results' %>	
</div>
<script type="text/javascript">
	Frame.initSearchByMessageText();
	Frame.initSearchUserSaunaChain();
</script>	
	

