<div class="main-page">	
	<%= render 'globalsearch' %>	

	<div class="add-button-container ">		
		<%= link_to t(:add_coupon_url), new_admin_coupon_url_path, :class => "big-add-green-button" %>   
	</div>
	
	<%= render 'searchform' %>	
	<%= render 'results' %>	
</div>	