<%= render 'shared/top_menu' %>
<div class="main-page">	
	<%= render 'results' %>			
</div>
<div class="title_description">
Совместно с компанией "Биглион" мы даем возможность вам воспользоваться услугами саун и бань со скидками до 90%! Все что вам нужно сделать - это перейти по одной из нижеуказанных ссылок, и 
купить купон на сайте "Биглион". Теперь посещать сауну не только приятно, но и выгодно. Купите купон заранее и вы сможете отметить день рождения, провести корпоратив или просто встретиться 
с друзьями с наименьшими затртами на бронирование сауны.
</div>