<br/>
<div class="detail-page">
	<div class="round-box">
		<div class="round-sub-box">		
			<div class="_expanded">
				<%= form_for @sauna_item, :url => admin_sauna_item_path(@sauna_item), :html => { :class => "comment-form" } do |f| %>
					<%-#= f.hidden_field :sauna_id,  :value => @sauna.id %>
					<%= render 'form', :f => f %>
				<% end %>
			</div>
			<div class="_closed"></div>
			<div class="clearing"></div>				
		</div>
	</div>
</div>

