<ul class="result-list">	
	<li class="head">
		<div class="name"><%= t :district %></div>
		<div class="actions-label"><%= t :actions %></div>
	</li>	
	<% if !@districts.empty? %>
		<%  @districts.each do |district| %>				
			<%= render district %>
		<% end %>
	<% else %>
		<%= render 'shared/empty_row' %>
	<% end %>	
</ul>