<div class="main-page">
	<%-#= render 'shared/globalsearch' %>	
	<%-#= render 'shared/mobile' %>	
	<%= render 'results' %>		
</div>
<script type="text/javascript">
	Frame.initSearchBySaunaName();
	Frame.initSaunaSorting();
</script>
	
	