<div style="padding-top: 15px;">
	<div class="detail-page">
		<div class="round-box">
			<div class="round-sub-box">			
				<div class="_expanded">
					<%= form_for(@site_setting, :url => admin_site_setting_path(@site_setting), :html => { :class => "comment-form" } ) do |f| %>
						<%= render 'form', :f => f %>
					<% end %>
				</div>
				<div class="_closed"></div>
				<div class="clearing"></div>			
			</div>
		</div>
	</div>
</div>