.digg_pagination {
background: white;
cursor: default;
margin-top: 10px;
padding: 5px 30px;
}
.digg_pagination .current {
font-style: normal;
font-weight: bold;
background: #2e6ab1;
color: white;
border: 1px solid #2e6ab1; 
padding: 0.2em 0.5em;
}	
.digg_pagination .page a, .digg_pagination .next a, .digg_pagination .last a, .digg_pagination .prev a, .digg_pagination .first a  {
text-decoration: none;
color: #105cb6;
border: 1px solid #9aafe5; 
padding: 0.2em 0.5em;
}	
.digg_pagination .page a:hover, .digg_pagination .page a:focus, .digg_pagination .next a:hover, .digg_pagination .next a:focus, .digg_pagination .last a:hover, .digg_pagination .last a:focus, .digg_pagination .prev a:hover, .digg_pagination .prev a:focus,  .digg_pagination .first a:hover, .digg_pagination .first a:focus {
  color: #000033;
  border-color: #000033; 
}
* html .digg_pagination {
height: 1%; 
}
