/* Z-index of #mask must lower than #boxes .window */

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#boxes .window {
  position:fixed;
  width: 400px;
  height: 400px;
  display:none;
  z-index:9999;
  padding:20px;  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;   
  background-color:#ffffff;  
}

#booking_date_description {
	text-align: center;
	padding-bottom: 10px;
}
 
#dialog-calendar .bottom-buttons{
}

#dialog-contact .bottom-buttons{
}


#boxes #dialog-calendar {
  width: 800px; 
  height: 350px;
  padding:10px;  
  overflow : auto;  
}

#boxes #dialog-contact {
  width: 320px; 
  height: 250px;  
}

#boxes #dialog-contact dt{
	float: left;
	clear: left;
	width: 83px;
	text-align: right;
	padding: 5px 0;
	margin: 0 9px 0 0;	
}

#boxes #dialog-contact dd {
	margin: 0 0 5px 0;
}
 
#boxes #dialog-select-payment {
  width: 500px; 
  height: 150px;  
}

#boxes #dialog-select-payment .select-payment{
  padding-top: 20px;
}