.wowslider-container{ 
/*	overflow: hidden; */
	zoom: 1; 
	position: relative; 
	width:668px;
	height:510px;
	margin:0 auto;
	z-index:100;
	background-image: url(/assets/wowslider/bg.png);
}
.wowslider-container ul{
	list-style:none;
	margin:0;
	padding:0;
}
.wowslider-container .ws_images{
	position: absolute;
	left:14px;
	top:14px;
	width:640px;
	height:480px;
	overflow:hidden;
}
.wowslider-container .ws_images a{
	color:transparent;
}

.wowslider-container .ws_images img{
	top:0;
	left:0;
	border:none 0;
	max-width: none;
}
.wowslider-container a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

.wowslider-container  .ws_bullets { 
	font-size: 0px; 
	padding: 10px; 
	float: left;
	position:absolute;
	z-index:70;
}
.wowslider-container  .ws_bullets div{
	position:relative;
	float:left;
}
.wowslider-container .ws_bullets a { 
	font:bold 10px/22px Tahoma,sans-serif; 
	color:#000;
	text-align:center;
	margin-left:4px;
	width:22px;
	height:22px;
	background: url(/assets/wowslider/bullet.png) left top;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);	
	float: left; 
	position:relative;
}
.wowslider-container .ws_bullets a.ws_selbull, .wowslider-container .ws_bullets a:hover{
	background-position: right top;
	color:#D4D4D4;
}
.wowslider-container a.ws_next, .wowslider-container a.ws_prev {
	position:absolute;
	display:none;
	top:50%;
	margin-top:-33px;
	z-index:60;
	height: 66px;
	width: 59px;
	background-image: url(/assets/wowslider/arrows.png);
}
.wowslider-container a.ws_next{
	background-position: 100% 0;
	right:14px;
}
.wowslider-container a.ws_prev {
	left:14px;
	background-position: 0 0; 
}
.wowslider-container a.ws_next:hover{
	background-position: 100% 100%;
}
.wowslider-container a.ws_prev:hover {
	background-position: 0 100%; 
}
* html .wowslider-container a.ws_next,* html .wowslider-container a.ws_prev{display:block}
.wowslider-container:hover a.ws_next, .wowslider-container:hover a.ws_prev {display:block}
.wowslider-container .ws-title{
	position: absolute;
	bottom:80px;
	left: 14px;
	margin-right:5px;
	z-index: 50;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);	
	padding:12px;
	color: #d4d4d4;
	text-transform:uppercase;
	background:#000;
    font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	-moz-border-radius:0 10px 10px 0;
	border-radius:0 10px 10px 0;
}
.wowslider-container .ws-title div{
	padding-top:5px;
	font-size: 13px;
	text-transform:none;
}
.wowslider-container  a.wsl{
	display:none;
}/* bottom center */
.wowslider-container  .ws_bullets {
    top: 14px;
    right: 14px;
}

.wowslider-container ul{
	position:relative;
	width: 1100%; 
	left:0%;
	animation: wsBasic 85.8s infinite;
	-moz-animation: wsBasic 85.8s infinite;
	-webkit-animation: wsBasic 85.8s infinite;
}
.wowslider-container ul li{
	float:left;
	width:640px;
}
@keyframes wsBasic{0%{left:-0%} 7.11%{left:-0%} 9.09%{left:-100%} 16.2%{left:-100%} 18.18%{left:-200%} 25.29%{left:-200%} 27.27%{left:-300%} 34.38%{left:-300%} 36.36%{left:-400%} 43.47%{left:-400%} 45.45%{left:-500%} 52.56%{left:-500%} 54.55%{left:-600%} 61.66%{left:-600%} 63.64%{left:-700%} 70.75%{left:-700%} 72.73%{left:-800%} 79.84%{left:-800%} 81.82%{left:-900%} 88.93%{left:-900%} 90.91%{left:-1000%} 98.02%{left:-1000%} }
@-moz-keyframes wsBasic{0%{left:-0%} 7.11%{left:-0%} 9.09%{left:-100%} 16.2%{left:-100%} 18.18%{left:-200%} 25.29%{left:-200%} 27.27%{left:-300%} 34.38%{left:-300%} 36.36%{left:-400%} 43.47%{left:-400%} 45.45%{left:-500%} 52.56%{left:-500%} 54.55%{left:-600%} 61.66%{left:-600%} 63.64%{left:-700%} 70.75%{left:-700%} 72.73%{left:-800%} 79.84%{left:-800%} 81.82%{left:-900%} 88.93%{left:-900%} 90.91%{left:-1000%} 98.02%{left:-1000%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 7.11%{left:-0%} 9.09%{left:-100%} 16.2%{left:-100%} 18.18%{left:-200%} 25.29%{left:-200%} 27.27%{left:-300%} 34.38%{left:-300%} 36.36%{left:-400%} 43.47%{left:-400%} 45.45%{left:-500%} 52.56%{left:-500%} 54.55%{left:-600%} 61.66%{left:-600%} 63.64%{left:-700%} 70.75%{left:-700%} 72.73%{left:-800%} 79.84%{left:-800%} 81.82%{left:-900%} 88.93%{left:-900%} 90.91%{left:-1000%} 98.02%{left:-1000%} }

.wowslider-container .ws_bullets  a img{
	text-indent:0;
	display:block;
	top:25px;
	left:-60px;
	visibility:hidden;
	position:absolute;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #0e0e0e;
	max-width:none;
}
.wowslider-container .ws_bullets a:hover img{
	visibility:visible;
}

.wowslider-container .ws_bulframe div div{
	height:90px;
	overflow:visible;
	position:relative;
}
.wowslider-container .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:120px;
	background-color:#0e0e0e;
}
.wowslider-container  .ws_bullets .ws_bulframe{
	display:none;
	top:25px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    border: 5px solid #0e0e0e;
}
.wowslider-container .ws_bulframe span{
	display:block;
	position:absolute;
	top:-11px;
	margin-left:-1px;
	left:60px;
	background:url(/assets/wowslider/triangle.png);
	width:15px;
	height:6px;
}