<div class="round-box">
	<div class="round-sub-box sauna-short-description">
		<h1>Taxi</h1>
		<%= @adv1.description %>
	</div>

	<div class="round-sub-box sauna-detail-description">	
		<h1>Food</h1>								
		<%= @adv2.description %>
	</div>
	
	<div class="clearing"></div>
</div>	