<div class="round-box">
	<div class="round-sub-box">
		<div class="expanded _expandedBox">
			<h2>Баня или сауна — что лучше?</h2>
			<div class="_expanded">
				<div class="_begin">
					Многие думают, что только в русской бане используется влажный пар и веники, в то время как сауна — это парилка с сухим паром, которую придумали финны. 
					На самом деле это не так: сауна — это всего лишь финское название бани! Как и русские, 
					финны также поливают воду на камни и парятся березовыми вениками. <a href="sauna-ili-banya">Читать далее...</a>
				</div>
			</div>
			<div class="_closed"></div>
			<div class="clearing"></div>
		</div>
	</div>
</div>
