<div id="boxes">     	
	<div id="dialog" class="window">
		<b>Testing of Modal Window</b> | <a href="#" class="close">Close it</a>					
	</div>	 	
	<div id="mask"></div>
</div>

<div id='calendar'>
</div>

<!-- #dialog is the id of a DIV defined in the code below -->
<a href="#dialog" name="modal">Book it now!</a>