<div class="round-box">
	<div class="round-sub-box">
		<div class="expanded _expandedBox">
			<h2><%= t :comments_section %></h2>
			<div class="_expanded">
				<%= render 'sauna_comments/form'%>
			</div>
			<div class="_closed"></div>
			<div class="clearing"></div>
		</div>
	</div>
</div>

<ul class="comment-list">
	<% unless @sauna.sauna_comments.empty? %>						
		<%= render @sauna.sauna_comments  %>											
	<% end %>		
</ul>
