<div class="round-sub-box sauna-detail-description">
	<h2>Морская баня</h2>
	<p>
		После сеанса в ИК-сауне Вы быстро почувствуете,
		как лучше станут работать ваши почки, печень,
		легкие, освобождаясь от губительного воздействия
		токсинов. Организм вздохнет свободнее. У Вас
		появится отличное самочувствие и бодрость.
	</p>					
	<div class="round-sub-sub-box sauna-inventory">
		<ul>
			<li>
				<div class="checked">кухня</div>
				<div>бар</div>
			</li>
			<li>
				<div>комната отдыха</div>
				<div class="checked">биллиард</div>
			</li>
			<li>
				<div class="checked">аудиосистема</div>
				<div class="checked">телевизор</div>
			</li>
		</ul>
		<div class="clearing"></div>
	</div>

	<dl class="properties">
		<dt>Цена за час:</dt><dd>960 руб.</dd>
		<dt>Вместимость: </dt><dd>13 чел.</dd>
	</dl>

</div>