<div class="sauna-map">
	<iframe
		height=375 width=267 frameborder=0 scrolling=0 marginheight=0 marginwidth=0
		style='border: 1px solid #000000'
		src="http://map.igis.ru/?frame=1&mapc=1&zoom=16&adres=<%= @sauna.address.description %>&ico=30,30,ynd,house&text=<b><%= @sauna.name %></b><hr width=250><%= @sauna.address.description %>">
	</iframe>
</div>