<ul class="result-list" id="saunaResultList">
	<li class="head">
		<div class="name"><%= t :sauna %></div>
		<div class="capacity"><%= t :capacity %><%#-= t :v_chel %></div>
		<div class="price"><%= t :price %><%#-= t :v_rub %></div>
	</li>		
	<%= render @saunas %>		
</ul>