<div class="main-page">
	<%= render 'globalsearch' %>	
	<%= render 'shared/mobile' %>	
	<%= render 'searchform' %>	
</div>
<script type="text/javascript">
	Frame.initMainPage();
</script>			
	