<div class="main-page">
	<%= render 'shared/globalsearch' %>	
	<%= render 'shared/mobile' %>	
	<%= render 'searchform' %>	
	<%= render 'results' %>	
</div>
<script type="text/javascript">
	Frame.initMainPage();
	$('#sauna_search .search-button').click();
	$('#q_address_district_id_eq').chainedTo('#q_address_city_id_eq');		
</script>			
	