<div class="footer">
	<div class="center">
		<ul>
			<li><a href="/">главная</a></li>
			
			<% if !signed_in? %>
				<!-- <li><a href="/map">поиск на карте</a></li> -->
				<!-- <li><a href="/all">все сауны</a></li> -->
				<li><a href="/about">о проекте</a></li>
				<!-- <li><a href="/howto">как это работает</a></li> -->
				<li><a href="/faq">вопрос-ответ</a></li>
				<!-- <li><a href="/contact">контакты</a></li>	-->		
				<li><a href="/adv">рекламодателям</a></li>				
			<% end %>
			
			<% if signed_in? && current_user.super_admin? %>
				<li><a href="/admin/users">личный кабинет</a></li>				
			<% end %>			

			<% if signed_in? && current_user.owner? %>
				<li><a href="/admin/saunas">личный кабинет</a></li>				
			<% end %>		

			<% if signed_in? && current_user.admin? %>
				<li><a href="/admin/bookings">личный кабинет</a></li>				
			<% end %>				
			
			<% if signed_in? %>		
				<li>
					<%= link_to t(:sign_out), signout_path, :method => :delete %>
				</li>    	
			<% else %>				
				<li>
					<%= link_to t(:sign_in), signin_path %>			
				</li>				
			<% end %>				
		</ul>
		<div class="bottom-logo"></div>
	</div>
</div>