<div class="footer">
	<div class="center">
		<ul>
			<li><a href="/">главная</a></li>
			<li><a href="/about">о проекте</a></li>
			<li><a href="/contact">контакты</a></li>	
			
			<% if signed_in? && current_user.super_admin? %>
				<li><a href="/admin/users">список пользователей</a></li>						
			<% end %>															
			
			<% if signed_in? %>
				<li>
					<%= link_to t(:sign_out), signout_path, :method => :delete %>
				</li>    	
			<% else %>
				<li>
					<%= link_to t(:sign_in), signin_path %>			
				</li>				
			<% end %>										
		</ul>
		<div class="bottom-logo"></div>
	</div>
</div>