<div class="round-box search-box">
	<form action="">
		<input type="text" name="searchText" value="" placeholder="поиск по сайту" />
		<input type="submit" class="search-button" value="" />
	</form>
</div>
<div class="helper">
	<div class="helper-right">
		<div class="helper-left">
			Нужна помощь? Нажмите <a href="#">здесь</a>, мы поможем!
		</div>
	</div>
</div>
