<div class="welcome">	
	<div class="close-button" id="close-button">x</div>					
	<div class="welcome-content">
	<p>
	В нашем каталоге около 150 саун в Ижевске, Нефтекамске, Набережных Челнах и других городах региона. Более 600 фотографий. Здесь Вы быстро и легко найдете всю информацию о саунах и банях вашего города. 
	Задайте параметры, которые наиболее важны для вас при выборе сауны, и
	наша система найдет для вас подходящие сауны. Или же посмотрите <a href="/all">все сауны</a>, которые имеются в нашем каталоге.</p>
	<p>
	Под рукой нет компьютера? Для такого случая мы создали мобильные версии сайта — <a href="/m">для обычных телефонов</a> и для <a href="/pda">для смартфонов</a>. 
	Ищете сауну в любое время и в любом месте!</p>
	<p>
	Выбрали подходяшую сауну, но чтобы внести предоплату надо ехать на другой конец города? 	
	<a href="/terms">Онлайн-бронирование саун</a> решает эту проблему — оплачивайте сауну с помощью банковских карт и терминалов Qiwi.
	</p>
	<p>Мы сделали по-настоящему удобный и абсолютно бесплатный сервис потому,
	что в первую очередь мы создавали его для себя! :)
	</p>
	</div>
</div>	
