<div class="welcome">	
	<div class="close-button" id="close-button">x</div>					
	<div class="welcome-content">
	<p>
	Здесь вы найдете все сауны и бани региона Поволжье — в Ижевске, Казани, Кирове, Нефтекамске, Набережных Челнах, Нижнекамске и других городах. Более 2000 фотографий. 
	Постоянно добавляются новые сауны, охватываются новые города.
	<p>
	Две мобильные версии сайта — <a href="/m">для обычных телефонов</a> и для <a href="/pda">для смартфонов</a>. 
	А для владельцев смартфонов на платформе Android мы выпустили <a href="/mobile-app">приложение "Сауны и бани"</a>.</p>
	<p>
	Также мы предлагаем систему <a href="/terms">онлайн-бронирования саун</a> — оплачивать сауну можно не вставая со стула, с помощью банковских карт, электронных денег и терминалов Qiwi.
	</p>
	</div>
</div>	
